## Step 3 -  Prepare Data Task 4 - Transform, 5 - Sort Data

This notebook provides the Python code for taking Covid total cases at county level and creating state level aggregation.  It demonstrates how you can transform the data, sort the data, and engineer new features.  Its results are stored in an intermediate file for rest of exercises.

Students will be developing a similar notebook for total deaths.  The corresponding notebook is included in the answer section.

## Import Libraries

In [1]:
import os
import pandas as pd
from datetime import date

## Set up Environment Flag

In [2]:
using_Google_colab = False
using_Anaconda_on_Mac_or_Linux = True
using_Anaconda_on_windows = False

if using_Google_colab:
    dir_input = "/content/drive/MyDrive/COVID_Project/input"
if using_Anaconda_on_Mac_or_Linux:
    dir_input = "../input"
if using_Anaconda_on_windows:
    dir_input = r"..\input"

## Connect to Google Drive

This step will only be executed if you have set environment flag using_Google_colab to True

In [3]:
if using_Google_colab:
    from google.colab import drive
    drive.mount('/content/drive')

## PD4.1 (Activity 1) Read file in your chosen environment

In [4]:
df_total_cases = pd.read_csv(os.path.join(dir_input, "USA_Facts", "covid_confirmed_usafacts.csv")) 
df_total_cases = df_total_cases.astype({'countyFIPS': str}).astype({'StateFIPS': str})
df_total_cases

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2022-01-18,2022-01-19,2022-01-20,2022-01-21,2022-01-22,2022-01-23,2022-01-24,2022-01-25,2022-01-26,2022-01-27
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,12738,12833,12928,13019,13019,13019,13251,13251,13251,13251
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,47143,47662,48338,49168,49168,49168,50313,50313,50313,50313
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,4741,4800,4843,4902,4902,4902,5054,5054,5054,5054
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,5385,5486,5565,5663,5663,5663,5795,5795,5795,5795
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,9082,9184,9241,9449,9449,9449,9609,9712,9810,10007
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,8531,8638,8741,8814,8814,8814,8960,9049,9121,9195
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,4660,4751,4827,4927,4927,4927,5034,5081,5167,5222
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,1994,2002,2023,2025,2025,2025,2041,2066,2093,2130
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,1315,1332,1341,1349,1349,1349,1369,1387,1408,1426

## PD 4.1 (Activity 2) Select data for LA County

In [5]:
df_total_cases_LA = df_total_cases[df_total_cases['County Name'] == 'Los Angeles County ']
df_total_cases_LA

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2022-01-18,2022-01-19,2022-01-20,2022-01-21,2022-01-22,2022-01-23,2022-01-24,2022-01-25,2022-01-26,2022-01-27
209,6037,Los Angeles County,CA,6,375,379,382,384,385,388,...,2276388,2343261,2367401,2384427,2390482,2430653,2453693,2468026,2472960,2473095

## PD 4.1 (Activity 3) Transform LA County data to total cases by date

In [6]:
df_total_cases_LA_by_date = df_total_cases_LA.melt(id_vars=['State', 
                                                            'StateFIPS', 
                                                            'County Name',
                                                            'countyFIPS'],
                                                   var_name='Date', 
                                                   value_name='Total Cases')
df_total_cases_LA_by_date

    State StateFIPS          County Name countyFIPS        Date  Total Cases
0      CA         6  Los Angeles County        6037  2020-01-22          375
1      CA         6  Los Angeles County        6037  2020-01-23          379
2      CA         6  Los Angeles County        6037  2020-01-24          382
3      CA         6  Los Angeles County        6037  2020-01-25          384
4      CA         6  Los Angeles County        6037  2020-01-26          385
..    ...       ...                  ...        ...         ...          ...
732    CA         6  Los Angeles County        6037  2022-01-23      2430653
733    CA         6  Los Angeles County        6037  2022-01-24      2453693
734    CA         6  Los Angeles County        6037  2022-01-25      2468026
735    CA         6  Los Angeles County        6037  2022-01-26      2472960
736    CA         6  Los Angeles County        6037  2022-01-27      2473095

[737 rows x 6 columns]

## PD 4.2 (Activity 4) Transform all County data to total cases by date

In [7]:
df_total_county_cases_by_date = df_total_cases.melt(id_vars=['State', 
                                                      'StateFIPS', 
                                                      'County Name',
                                                      'countyFIPS'],
                                             var_name='Date', 
                                             value_name='Total Cases')
df_total_county_cases_by_date

,State,StateFIPS,County Name,countyFIPS,Date,Total Cases
0,AL,1,Statewide Unallocated,0,2020-01-22,0
1,AL,1,Autauga County,1001,2020-01-22,0
2,AL,1,Baldwin County,1003,2020-01-22,0
3,AL,1,Barbour County,1005,2020-01-22,0
4,AL,1,Bibb County,1007,2020-01-22,0
...,...,...,...,...,...,...
2353236,WY,56,Sweetwater County,56037,2022-01-27,10007
2353237,WY,56,Teton County,56039,2022-01-27,9195
2353238,WY,56,Uinta County,56041,2022-01-27,5222
2353239,WY,56,Washakie County,56043,2022-01-27,2130
2353240,WY,56,Weston County,56045,2022-01-27,1426

## PD4.3 (Activity 5)  Group total cases by state

In [8]:
df_total_cases_by_state = df_total_cases.groupby(['State', 'StateFIPS']).sum().reset_index()
df_total_cases_by_state

,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,...,2022-01-18,2022-01-19,2022-01-20,2022-01-21,2022-01-22,2022-01-23,2022-01-24,2022-01-25,2022-01-26,2022-01-27
0,AK,2,0,0,0,0,0,0,0,0,...,179006,181507,183777,187047,188250,190051,193306,195288,197425,199769
1,AL,1,0,0,0,0,0,0,0,0,...,1071264,1088370,1104356,1120881,1120881,1120881,1153149,1153149,1153149,1153149
2,AR,5,0,0,0,0,0,0,0,0,...,677449,690890,701050,709958,709958,709958,721587,732071,738053,743699
3,AZ,4,0,0,0,0,1,1,1,1,...,1645695,1666191,1683915,1701950,1701950,1701950,1767303,1781275,1799504,1813797
4,CA,6,722,733,739,749,756,766,772,776,...,7085843,7274629,7346608,7398487,7469125,7554303,7626265,7680316,7702919,7705725
5,CO,8,0,0,0,0,0,0,0,0,...,1169876,1180568,1184668,1199935,1208995,1212408,1221013,1229321,1232348,1233235
6,CT,9,0,0,0,0,0,0,0,0,...,657680,662425,667230,671674,671674,671674,683731,687555,690350,693386
7,DC,11,0,0,0,0,0,0,0,0,...,125707,126187,126675,127200,127200,127200,128550,128739,129108,129479
8,DE,10,0,0,0,0,0,0,0,0,...,229759,232132,233843,236022,236022,236022,241367,242324,242324,244730
9,FL,12,0,0,0,0,0,0,0,0,...,5196294,5242386,5281000,5303375,5311729,5347828,5382565,5420175,5448288,5478894
10,GA,13,0,0,0,0,0,0,0,0,...,1679773,1696978,1713655,1726969,1726969,1726969,1765900,1777459,1791344,1808462
11,HI,15,0,0,0,0,0,0,0,0,...,180838,184767,190678,195151,195151,195151,204933,206837,208887,211267
12,IA,19,0,0,0,0,0,0,0,0,...,664910,669705,669705,682363,682363,682363,693914,699859,703366,703366
13,ID,16,0,0,0,0,0,0,0,0,...,344412,348944,352407,356111,356111,356111,361056,364576,368663,372441
14,IL,17,0,0,1,1,1,1,1,1,...,2683049,2709476,2732720,2773399,2814441,2828451,2837976,2851665,2867351,2881801
15,IN,18,0,0,0,0,0,0,0,0,...,1478372,1494585,1510955,1528637,1528637,1528637,1564230,1573961,1578922,1591127
16,KS,20,0,0,0,0,0,0,0,0,...,621273,660599,660599,681405,681405,681405,695675,695675,709838,709838
17,KY,21,0,0,0,0,0,0,0,0,...,1014703,1027069,1040420,1056284,1056284,1056284,1085051,1100097,1112651,1125181
18,LA,22,0,0,0,0,0,0,0,0,...,1025748,1082716,1097422,1108739,1108739,1108739,1127422,1136526,1145245,1152818
19,MA,25,0,0,0,0,0,0,0,0,...,1375183,1389830,1404214,1418149,1418149,1418149,1442661,1449781,1457699,1466315
20,MD,24,0,0,0,0,0,0,0,0,...,909424,913464,922361,927097,931946,935624,938314,940713,943613,946869
21,ME,23,0,0,0,0,0,0,0,0,...,161395,162940,164324,165691,166898,166899,166899,168474,169998,171524
22,MI,26,0,0,0,0,0,0,0,0,...,1984056,2082983,2082983,2124225,2124225,2124225,2168367,2168367,2203646,2203646
23,MN,27,0,0,0,0,0,0,0,0,...,1148888,1193504,1204929,1216734,1216734,1216734,1229444,1264935,1280500,1295117
24,MO,29,0,0,0,0,0,0,0,0,...,1205772,1220014,1236613,1251055,1251055,1251055,1275650,1285040,1295240,1305329
25,MS,28,0,0,0,0,0,0,0,0,...,657084,665544,673873,681382,681382,681382,694093,699002,705598,712133
26,MT,30,0,0,0,0,0,0,0,0,...,215988,218047,220090,222093,222093,222093,227094,229966,233056,235967
27,NC,37,0,0,0,0,0,0,0,0,...,2130403,2147777,2177357,2177357,2177357,2177357,2290179,2303196,2323482,2352235
28,ND,38,0,0,0,0,0,0,0,0,...,199213,202333,205338,208000,210478,211040,211040,214459,216814,218960
29,NE,31,0,0,0,0,0,0,0,0,...,402489,407804,413056,413056,413056,417848,425610,428949,432564,435358
30,NH,33,0,0,0,0,0,0,0,0,...,250581,251441,254715,257793,257793,257793,265140,266000,267800,270063
31,NJ,34,0,0,0,0,0,0,0,0,...,2014702,2025616,2037690,2049573,2058497,2067692,2072536,2078258,2085385,2092109
32,NM,35,0,0,0,0,0,0,0,0,...,420192,425920,431887,437934,437934,437934,452616,455947,460062,465244
33,NV,32,0,0,0,0,0,0,0,0,...,596497,601682,607857,614505,614505,614505,630343,633955,638931,643695
34,NY,36,0,0,0,0,0,0,0,0,...,4556428,4579803,4610434,4638730,4666373,4685559,4697818,4710302,4726821,4744126
35,OH,39,0,0,0,0,0,0,0,0,...,2418722,2439205,2460869,2480566,2480566,2480566,2515949,2520112,2540864,2552972
36,OK,40,0,0,0,0,0,0,0,0,...,852997,866403,880342,893913,893913,893913,922874,931033,944461,953116
37,OR,41,0,0,0,0,0,0,0,0,...,541415,549942,559960,559960,559960,559960,590270,597172,605363,613221
38,PA,42,0,0,0,0,0,0,0,0,...,2487925,2506132,2523589,2542544,2560167,2572500,2581831,2592691,2605439,2622134
39,RI,44,0,0,0,0,0,0,0,0,...,317344,320617,324234,327109,327109,327109,334127,336031,337949,339571
40,SC,45,0,0,0,0,0,0,0,0,...,1225570,1236732,1249632,1265710,1265710,1265710,1265710,1265710,1328450,1338384
41,SD,46,0,0,0,0,0,0,0,0,...,197912,211885,211885,211885,211885,211885,211885,211885,222880,222880
42,TN,47,0,0,0,0,0,0,0,0,...,1540515,1653144,1653144,1653144,1653144,1653144,1653144,1653144,1771783,1771783
43,TX,48,0,0,0,0,0,0,0,0,...,5644397,5700444,5746859,5813105,5876122,5934240,5973164,6018220,6048954,6083750
44,UT,49,0,0,0,0,0,0,0,0,...,790216,802780,814388,825989,825989,825989,847959,854559,862052,869085
45,VA,51,0,0,0,0,0,0,0,0,...,1407403,1419883,1434686,1451713,1451713,1451713,1481294,1491993,1503119,1514862
46,VT,50,0,0,0,0,0,0,0,0,...,93492,93492,96415,96415,96415,99651,100092,100621,102153,103066
47,WA,53,1,1,1,1,1,1,1,1,...,1105622,1119228,1135778,1151835,1151835,1151835,1203311,1203311,1257918,1257918
48,WI,55,0,0,0,0,0,0,0,0,...,1400338,1415098,1433225,1446023,1457397,1464875,1470262,1477323,1486054,1495240
49,WV,54,0,0,0,0,0,0,0,0,...,392737,396343,401796,407131,407131,407131,422265,425013,429016,434221
50,WY,56,0,0,0,0,0,0,0,0,...,130553,132145,133495,135369,135369,135369,137873,139461,141090,143129

## PD 4.3 (Activity 6) Transform state total cases to total cases by date

In [9]:
df_total_cases_by_state_by_date = df_total_cases_by_state.melt(id_vars=['State','StateFIPS'], 
                                                               var_name='Date', 
                                                               value_name='Total Cases')
df_total_cases_by_state_by_date

      State StateFIPS        Date  Total Cases
0        AK         2  2020-01-22            0
1        AL         1  2020-01-22            0
2        AR         5  2020-01-22            0
3        AZ         4  2020-01-22            0
4        CA         6  2020-01-22          722
...     ...       ...         ...          ...
37582    VT        50  2022-01-27       103066
37583    WA        53  2022-01-27      1257918
37584    WI        55  2022-01-27      1495240
37585    WV        54  2022-01-27       434221
37586    WY        56  2022-01-27       143129

[37587 rows x 4 columns]

## Bonus Activity - Pivot is the reverse of melt - you can revert back using pivot_table

In [10]:
df_pivot_table = pd.pivot_table(df_total_cases_by_state_by_date, 
                                values='Total Cases', 
                                columns='Date', 
                                index=['State','StateFIPS'])
df_pivot_table

,Date,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,2020-01-31,...,2022-01-18,2022-01-19,2022-01-20,2022-01-21,2022-01-22,2022-01-23,2022-01-24,2022-01-25,2022-01-26,2022-01-27
State,StateFIPS,,,,,,,,,,,,,,,,,,,,,
AK,2,0,0,0,0,0,0,0,0,0,0,...,179006,181507,183777,187047,188250,190051,193306,195288,197425,199769
AL,1,0,0,0,0,0,0,0,0,0,0,...,1071264,1088370,1104356,1120881,1120881,1120881,1153149,1153149,1153149,1153149
AR,5,0,0,0,0,0,0,0,0,0,0,...,677449,690890,701050,709958,709958,709958,721587,732071,738053,743699
AZ,4,0,0,0,0,1,1,1,1,1,1,...,1645695,1666191,1683915,1701950,1701950,1701950,1767303,1781275,1799504,1813797
CA,6,722,733,739,749,756,766,772,776,783,798,...,7085843,7274629,7346608,7398487,7469125,7554303,7626265,7680316,7702919,7705725
CO,8,0,0,0,0,0,0,0,0,0,0,...,1169876,1180568,1184668,1199935,1208995,1212408,1221013,1229321,1232348,1233235
CT,9,0,0,0,0,0,0,0,0,0,0,...,657680,662425,667230,671674,671674,671674,683731,687555,690350,693386
DC,11,0,0,0,0,0,0,0,0,0,0,...,125707,126187,126675,127200,127200,127200,128550,128739,129108,129479
DE,10,0,0,0,0,0,0,0,0,0,0,...,229759,232132,233843,236022,236022,236022,241367,242324,242324,244730
FL,12,0,0,0,0,0,0,0,0,0,0,...,5196294,5242386,5281000,5303375,5311729,5347828,5382565,5420175,5448288,5478894
GA,13,0,0,0,0,0,0,0,0,0,0,...,1679773,1696978,1713655,1726969,1726969,1726969,1765900,1777459,1791344,1808462
HI,15,0,0,0,0,0,0,0,0,0,0,...,180838,184767,190678,195151,195151,195151,204933,206837,208887,211267
IA,19,0,0,0,0,0,0,0,0,0,0,...,664910,669705,669705,682363,682363,682363,693914,699859,703366,703366
ID,16,0,0,0,0,0,0,0,0,0,0,...,344412,348944,352407,356111,356111,356111,361056,364576,368663,372441
IL,17,0,0,1,1,1,1,1,1,1,2,...,2683049,2709476,2732720,2773399,2814441,2828451,2837976,2851665,2867351,2881801
IN,18,0,0,0,0,0,0,0,0,0,0,...,1478372,1494585,1510955,1528637,1528637,1528637,1564230,1573961,1578922,1591127
KS,20,0,0,0,0,0,0,0,0,0,0,...,621273,660599,660599,681405,681405,681405,695675,695675,709838,709838
KY,21,0,0,0,0,0,0,0,0,0,0,...,1014703,1027069,1040420,1056284,1056284,1056284,1085051,1100097,1112651,1125181
LA,22,0,0,0,0,0,0,0,0,0,0,...,1025748,1082716,1097422,1108739,1108739,1108739,1127422,1136526,1145245,1152818
MA,25,0,0,0,0,0,0,0,0,0,0,...,1375183,1389830,1404214,1418149,1418149,1418149,1442661,1449781,1457699,1466315
MD,24,0,0,0,0,0,0,0,0,0,0,...,909424,913464,922361,927097,931946,935624,938314,940713,943613,946869
ME,23,0,0,0,0,0,0,0,0,0,0,...,161395,162940,164324,165691,166898,166899,166899,168474,169998,171524
MI,26,0,0,0,0,0,0,0,0,0,0,...,1984056,2082983,2082983,2124225,2124225,2124225,2168367,2168367,2203646,2203646
MN,27,0,0,0,0,0,0,0,0,0,0,...,1148888,1193504,1204929,1216734,1216734,1216734,1229444,1264935,1280500,1295117
MO,29,0,0,0,0,0,0,0,0,0,0,...,1205772,1220014,1236613,1251055,1251055,1251055,1275650,1285040,1295240,1305329
MS,28,0,0,0,0,0,0,0,0,0,0,...,657084,665544,673873,681382,681382,681382,694093,699002,705598,712133
MT,30,0,0,0,0,0,0,0,0,0,0,...,215988,218047,220090,222093,222093,222093,227094,229966,233056,235967
NC,37,0,0,0,0,0,0,0,0,0,0,...,2130403,2147777,2177357,2177357,2177357,2177357,2290179,2303196,2323482,2352235
ND,38,0,0,0,0,0,0,0,0,0,0,...,199213,202333,205338,208000,210478,211040,211040,214459,216814,218960
NE,31,0,0,0,0,0,0,0,0,0,0,...,402489,407804,413056,413056,413056,417848,425610,428949,432564,435358
NH,33,0,0,0,0,0,0,0,0,0,0,...,250581,251441,254715,257793,257793,257793,265140,266000,267800,270063
NJ,34,0,0,0,0,0,0,0,0,0,0,...,2014702,2025616,2037690,2049573,2058497,2067692,2072536,2078258,2085385,2092109
NM,35,0,0,0,0,0,0,0,0,0,0,...,420192,425920,431887,437934,437934,437934,452616,455947,460062,465244
NV,32,0,0,0,0,0,0,0,0,0,0,...,596497,601682,607857,614505,614505,614505,630343,633955,638931,643695
NY,36,0,0,0,0,0,0,0,0,0,0,...,4556428,4579803,4610434,4638730,4666373,4685559,4697818,4710302,4726821,4744126
OH,39,0,0,0,0,0,0,0,0,0,0,...,2418722,2439205,2460869,2480566,2480566,2480566,2515949,2520112,2540864,2552972
OK,40,0,0,0,0,0,0,0,0,0,0,...,852997,866403,880342,893913,893913,893913,922874,931033,944461,953116
OR,41,0,0,0,0,0,0,0,0,0,0,...,541415,549942,559960,559960,559960,559960,590270,597172,605363,613221
PA,42,0,0,0,0,0,0,0,0,0,0,...,2487925,2506132,2523589,2542544,2560167,2572500,2581831,2592691,2605439,2622134
RI,44,0,0,0,0,0,0,0,0,0,0,...,317344,320617,324234,327109,327109,327109,334127,336031,337949,339571
SC,45,0,0,0,0,0,0,0,0,0,0,...,1225570,1236732,1249632,1265710,1265710,1265710,1265710,1265710,1328450,1338384
SD,46,0,0,0,0,0,0,0,0,0,0,...,197912,211885,211885,211885,211885,211885,211885,211885,222880,222880
TN,47,0,0,0,0,0,0,0,0,0,0,...,1540515,1653144,1653144,1653144,1653144,1653144,1653144,1653144,1771783,1771783
TX,48,0,0,0,0,0,0,0,0,0,0,...,5644397,5700444,5746859,5813105,5876122,5934240,5973164,6018220,6048954,6083750
UT,49,0,0,0,0,0,0,0,0,0,0,...,790216,802780,814388,825989,825989,825989,847959,854559,862052,869085
VA,51,0,0,0,0,0,0,0,0,0,0,...,1407403,1419883,1434686,1451713,1451713,1451713,1481294,1491993,1503119,1514862
VT,50,0,0,0,0,0,0,0,0,0,0,...,93492,93492,96415,96415,96415,99651,100092,100621,102153,103066
WA,53,1,1,1,1,1,1,1,1,1,1,...,1105622,1119228,1135778,1151835,1151835,1151835,1203311,1203311,1257918,1257918
WI,55,0,0,0,0,0,0,0,0,0,0,...,1400338,1415098,1433225,1446023,1457397,1464875,1470262,1477323,1486054,1495240
WV,54,0,0,0,0,0,0,0,0,0,0,...,392737,396343,401796,407131,407131,407131,422265,425013,429016,434221
WY,56,0,0,0,0,0,0,0,0,0,0,...,130553,132145,133495,135369,135369,135369,137873,139461,141090,143129

## Why Sort?

It is needed before any multi-row operation. As you can see below state records are not sorted by state currently

In [11]:
df_total_cases_by_state_by_date

      State StateFIPS        Date  Total Cases
0        AK         2  2020-01-22            0
1        AL         1  2020-01-22            0
2        AR         5  2020-01-22            0
3        AZ         4  2020-01-22            0
4        CA         6  2020-01-22          722
...     ...       ...         ...          ...
37582    VT        50  2022-01-27       103066
37583    WA        53  2022-01-27      1257918
37584    WI        55  2022-01-27      1495240
37585    WV        54  2022-01-27       434221
37586    WY        56  2022-01-27       143129

[37587 rows x 4 columns]

## PD 5.1 (Activity 1) Sort LA County Total Cases

In [12]:
df_total_cases_LA_by_date = df_total_cases_LA_by_date.astype({'Date': 'datetime64[ns]'})
df_sorted_LA_county_total_cases = df_total_cases_LA_by_date.sort_values(by=['Date'])
df_sorted_LA_county_total_cases

    State StateFIPS          County Name countyFIPS       Date  Total Cases
0      CA         6  Los Angeles County        6037 2020-01-22          375
1      CA         6  Los Angeles County        6037 2020-01-23          379
2      CA         6  Los Angeles County        6037 2020-01-24          382
3      CA         6  Los Angeles County        6037 2020-01-25          384
4      CA         6  Los Angeles County        6037 2020-01-26          385
..    ...       ...                  ...        ...        ...          ...
732    CA         6  Los Angeles County        6037 2022-01-23      2430653
733    CA         6  Los Angeles County        6037 2022-01-24      2453693
734    CA         6  Los Angeles County        6037 2022-01-25      2468026
735    CA         6  Los Angeles County        6037 2022-01-26      2472960
736    CA         6  Los Angeles County        6037 2022-01-27      2473095

[737 rows x 6 columns]

## PD 5.2 (Activity 2) Sort County Total Cases

In [13]:
df_total_county_cases_by_date = df_total_county_cases_by_date.astype({'Date': 'datetime64[ns]'})
df_sorted_county_total_cases = df_total_county_cases_by_date.sort_values(by=['StateFIPS', 
                                                                             'countyFIPS', 
                                                                             'Date'])
df_sorted_county_total_cases

,State,StateFIPS,County Name,countyFIPS,Date,Total Cases
0,AL,1,Statewide Unallocated,0,2020-01-22,0
3193,AL,1,Statewide Unallocated,0,2020-01-23,0
6386,AL,1,Statewide Unallocated,0,2020-01-24,0
9579,AL,1,Statewide Unallocated,0,2020-01-25,0
12772,AL,1,Statewide Unallocated,0,2020-01-26,0
...,...,...,...,...,...,...
2337598,CT,9,Windham County,9015,2022-01-23,23067
2340791,CT,9,Windham County,9015,2022-01-24,23620
2343984,CT,9,Windham County,9015,2022-01-25,23811
2347177,CT,9,Windham County,9015,2022-01-26,23984
2350370,CT,9,Windham County,9015,2022-01-27,24151

## PD 5.3 (Activity 3) Sort State Total Cases

In [14]:
df_total_cases_by_state_by_date = df_total_cases_by_state_by_date.astype({'Date': 'datetime64[ns]'})
df_sorted_state_total_cases = df_total_cases_by_state_by_date.sort_values(by=['StateFIPS', 'Date'])
df_sorted_state_total_cases

      State StateFIPS       Date  Total Cases
1        AL         1 2020-01-22            0
52       AL         1 2020-01-23            0
103      AL         1 2020-01-24            0
154      AL         1 2020-01-25            0
205      AL         1 2020-01-26            0
...     ...       ...        ...          ...
37338    CT         9 2022-01-23       671674
37389    CT         9 2022-01-24       683731
37440    CT         9 2022-01-25       687555
37491    CT         9 2022-01-26       690350
37542    CT         9 2022-01-27       693386

[37587 rows x 4 columns]