## Step 3 -  Prepare Data Task 4 - Transform, 5 - Sort Data

This notebook provides the Python code for taking Covid total cases at county level and creating state level aggregation.  It demonstrates how you can transform the data, sort the data, and engineer new features.  Its results are stored in an intermediate file for rest of exercises.

Students will be developing a similar notebook for total deaths.  The corresponding notebook is included in the answer section.

## Import Libraries

In [1]:
import os
import pandas as pd
from datetime import date

## Set up Environment Flag

In [2]:
using_Google_colab = False
using_Anaconda_on_Mac_or_Linux = True
using_Anaconda_on_windows = False

if using_Google_colab:
    dir_input = "/content/drive/MyDrive/COVID_Project/input"
if using_Anaconda_on_Mac_or_Linux:
    dir_input = "../input"
if using_Anaconda_on_windows:
    dir_input = r"..\input"

## Connect to Google Drive

This step will only be executed if you have set environment flag using_Google_colab to True

In [3]:
if using_Google_colab:
    from google.colab import drive
    drive.mount('/content/drive')

## PD4.1 (Activity 1) Read file in your chosen environment

In [4]:
df_total_cases = pd.read_csv(os.path.join(dir_input, "USA_Facts", "covid_confirmed_usafacts.csv")) 
df_total_cases = df_total_cases.astype({'countyFIPS': str}).astype({'stateFIPS': str})
df_total_cases

,countyFIPS,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/11/20,12/12/20,12/13/20,12/14/20,12/15/20,12/16/20,12/17/20,12/18/20,12/19/20,12/20/20
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,3233,3233,3233,3329,3426,3510,3570,3647,3698,3741
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,10489,10489,10489,10898,11061,11212,11364,11556,11722,11827
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,1264,1264,1264,1275,1292,1296,1309,1318,1330,1336
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,1398,1398,1398,1455,1504,1520,1548,1577,1601,1613
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,2376,2384,2451,2518,2544,2574,2649,2696,2702,2718
3191,56039,Teton County,WY,56,0,0,0,0,0,0,...,1868,1886,1905,1930,1940,1958,1974,1990,1992,2002
3192,56041,Uinta County,WY,56,0,0,0,0,0,0,...,1281,1289,1307,1327,1352,1363,1372,1399,1406,1416
3193,56043,Washakie County,WY,56,0,0,0,0,0,0,...,620,629,639,644,659,662,665,690,695,699
3194,56045,Weston County,WY,56,0,0,0,0,0,0,...,428,428,428,429,436,436,438,443,443,446

## PD 4.1 (Activity 2) Select data for LA County

In [5]:
df_total_cases_LA = df_total_cases[df_total_cases['County Name'] == 'Los Angeles County']
df_total_cases_LA

,countyFIPS,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/11/20,12/12/20,12/13/20,12/14/20,12/15/20,12/16/20,12/17/20,12/18/20,12/19/20,12/20/20
211,6037,Los Angeles County,CA,6,0,0,0,0,1,1,...,501635,512872,525486,532730,543769,566005,580325,596721,610372,623670

## PD 4.1 (Activity 3) Transform LA County data to total cases by date

In [6]:
df_total_cases_LA_by_date = df_total_cases_LA.melt(id_vars=['State', 
                                                            'stateFIPS', 
                                                            'County Name',
                                                            'countyFIPS'],
                                                   var_name='Date', 
                                                   value_name='Total Cases')
df_total_cases_LA_by_date

    State stateFIPS         County Name countyFIPS      Date  Total Cases
0      CA         6  Los Angeles County       6037   1/22/20            0
1      CA         6  Los Angeles County       6037   1/23/20            0
2      CA         6  Los Angeles County       6037   1/24/20            0
3      CA         6  Los Angeles County       6037   1/25/20            0
4      CA         6  Los Angeles County       6037   1/26/20            1
..    ...       ...                 ...        ...       ...          ...
329    CA         6  Los Angeles County       6037  12/16/20       566005
330    CA         6  Los Angeles County       6037  12/17/20       580325
331    CA         6  Los Angeles County       6037  12/18/20       596721
332    CA         6  Los Angeles County       6037  12/19/20       610372
333    CA         6  Los Angeles County       6037  12/20/20       623670

[334 rows x 6 columns]

## PD 4.2 (Activity 4) Transform all County data to total cases by date

In [7]:
df_total_county_cases_by_date = df_total_cases.melt(id_vars=['State', 
                                                      'stateFIPS', 
                                                      'County Name',
                                                      'countyFIPS'],
                                             var_name='Date', 
                                             value_name='Total Cases')
df_total_county_cases_by_date

,State,stateFIPS,County Name,countyFIPS,Date,Total Cases
0,AL,1,Statewide Unallocated,0,1/22/20,0
1,AL,1,Autauga County,1001,1/22/20,0
2,AL,1,Baldwin County,1003,1/22/20,0
3,AL,1,Barbour County,1005,1/22/20,0
4,AL,1,Bibb County,1007,1/22/20,0
...,...,...,...,...,...,...
1067125,WY,56,Sweetwater County,56037,12/20/20,2718
1067126,WY,56,Teton County,56039,12/20/20,2002
1067127,WY,56,Uinta County,56041,12/20/20,1416
1067128,WY,56,Washakie County,56043,12/20/20,699
1067129,WY,56,Weston County,56045,12/20/20,446

## PD4.3 (Activity 5)  Group total cases by state

In [8]:
df_total_cases_by_state = df_total_cases.groupby(['State', 'stateFIPS']).sum().reset_index()
df_total_cases_by_state

,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,12/11/20,12/12/20,12/13/20,12/14/20,12/15/20,12/16/20,12/17/20,12/18/20,12/19/20,12/20/20
0,AK,2,0,0,0,0,0,0,0,0,...,38381,38896,39529,39949,40223,40821,41200,41684,42010,42191
1,AL,1,0,0,0,0,0,0,0,0,...,288775,288775,288775,297887,301533,305640,310335,315683,319904,322452
2,AR,5,0,0,0,0,0,0,0,0,...,181624,184252,185702,187057,189198,191504,194540,197421,200113,201650
3,AZ,4,0,0,0,0,1,1,1,1,...,394512,402589,409264,419931,424382,429219,435036,442671,448231,453597
4,CA,6,0,0,0,0,2,3,3,4,...,1520319,1546815,1568882,1612267,1644793,1693715,1748002,1802236,1837069,1864539
5,CO,8,0,0,0,0,0,0,0,0,...,281669,285632,288192,291102,293374,296716,300409,304072,306598,308890
6,CT,9,0,0,0,0,0,0,0,0,...,146761,146761,146761,153992,155462,157781,160102,162782,162782,162782
7,DC,11,0,0,0,0,0,0,0,0,...,24357,24643,24874,25038,25339,25602,25830,26104,26342,26601
8,DE,10,0,0,0,0,0,0,0,0,...,43818,44876,45460,46457,47142,47929,48768,49109,50136,50616
9,FL,12,0,0,0,0,0,0,0,0,...,1106396,1116973,1125931,1134376,1143794,1155335,1168483,1181483,1193165,1201566
10,GA,13,0,0,0,0,0,0,0,0,...,466897,471725,476034,479322,484139,488324,494159,500251,504497,509588
11,HI,15,0,0,0,0,0,0,0,0,...,18951,18951,18951,18951,18951,18951,18951,18951,18951,18951
12,IA,19,0,0,0,0,0,0,0,0,...,253069,255009,256248,256902,258253,260227,262206,264107,264707,267144
13,ID,16,0,0,0,0,0,0,0,0,...,119609,120632,121175,122216,124015,125441,126821,128099,129066,129960
14,IL,17,0,0,1,1,1,1,1,1,...,832932,841669,848884,856098,863454,870576,879403,886780,894341,900345
15,IN,18,0,0,0,0,0,0,0,0,...,415241,422648,428554,433520,437792,444011,450353,456307,461045,467537
16,KS,20,0,0,0,0,0,0,0,0,...,188354,188399,188413,193068,193353,197734,197927,203415,203421,203443
17,KY,21,0,0,0,0,0,0,0,0,...,217119,220656,223047,224824,227765,230574,234021,237185,240561,242321
18,LA,22,0,0,0,0,0,0,0,0,...,264185,264185,268600,269643,272268,275543,279318,282426,282426,286145
19,MA,25,0,0,0,0,0,0,0,0,...,279621,284589,289266,292838,296558,302008,306993,312625,316620,320782
20,MD,24,0,0,0,0,0,0,0,0,...,228471,232009,234647,236961,239362,241767,243984,246553,248754,250808
21,ME,23,0,0,0,0,0,0,0,0,...,15206,15620,15923,16349,16760,17311,17901,18337,18738,18946
22,MI,26,0,0,0,0,0,0,0,0,...,460333,465139,465139,472622,478154,482781,487254,491637,496056,496056
23,MN,27,0,0,0,0,0,0,0,0,...,370968,375398,378823,381838,384164,386411,389171,391889,394634,397319
24,MO,29,0,0,0,0,0,0,0,0,...,342347,345041,347602,350364,353037,356603,360329,363114,365186,368316
25,MS,28,0,0,0,0,0,0,0,0,...,175282,177947,179320,181095,183300,185643,187904,190411,192111,194333
26,MT,30,0,0,0,0,0,0,0,0,...,71834,72587,73273,73273,74039,74644,75473,75948,76611,77170
27,NC,37,0,0,0,0,0,0,0,0,...,423622,429776,436595,441361,446601,451874,456727,466076,472268,479168
28,ND,38,0,0,0,0,0,0,0,0,...,87214,87590,87870,88066,88391,88685,89061,89555,89786,90039
29,NE,31,0,0,0,0,0,0,0,0,...,145716,146530,147671,148165,149688,149688,150929,153559,154231,155197
30,NH,33,0,0,0,0,0,0,0,0,...,29460,30244,30956,31875,32545,33433,34264,34960,35609,36542
31,NJ,34,0,0,0,0,0,0,0,0,...,390256,396496,400650,405448,409414,415075,419330,423226,427417,432592
32,NM,35,0,0,0,0,0,0,0,0,...,116565,118358,119800,121299,122557,124357,126045,127500,128930,129993
33,NV,32,0,0,0,0,0,0,0,0,...,177373,181017,183794,186255,188486,190796,192948,195597,198099,198099
34,NY,36,0,0,0,0,0,0,0,0,...,753906,765035,775229,784273,794626,804624,815538,828235,838154,848111
35,OH,39,0,0,0,0,0,0,0,0,...,542209,553461,562727,570602,579353,584766,596178,605862,614429,622806
36,OK,40,0,0,0,0,0,0,0,0,...,229353,233336,237663,239765,241991,245229,248204,251760,255868,260838
37,OR,41,0,0,0,0,0,0,0,0,...,91420,91420,91420,91420,96092,97622,98984,100308,100308,100308
38,PA,42,0,0,0,0,0,0,0,0,...,470034,481118,491735,499647,509320,519369,529335,538655,548489,555702
39,RI,44,0,0,0,0,0,0,0,0,...,62870,62870,62870,62870,62870,71054,71054,71054,71054,71054
40,SC,45,0,0,0,0,0,0,0,0,...,245226,248798,252206,254776,257319,260119,262774,267076,270537,273406
41,SD,46,0,0,0,0,0,0,0,0,...,89672,90406,91036,91353,91698,92603,93197,93772,94336,94727
42,TN,47,0,0,0,0,0,0,0,0,...,436262,442953,454305,464624,472875,484285,493230,503651,503651,519687
43,TX,48,0,0,0,0,0,0,0,0,...,1324799,1338579,1345213,1354142,1370399,1384736,1402371,1404913,1405657,1406999
44,UT,49,0,0,0,0,0,0,0,0,...,228242,231946,234029,235953,237916,240804,244018,246649,249123,251138
45,VA,51,0,0,0,0,0,0,0,0,...,274437,278610,281903,285132,288308,292236,299388,302971,302971,306848
46,VT,50,0,0,0,0,0,0,0,0,...,5541,5626,5753,5857,5923,6009,6149,6243,6343,6443
47,WA,53,1,1,1,1,1,1,1,1,...,195554,199733,202059,203793,205066,205066,205113,205113,222600,222600
48,WI,55,0,0,0,0,0,0,0,0,...,461367,465991,468956,471275,475340,478162,482443,486364,490679,492724
49,WV,54,0,0,0,0,0,0,0,0,...,60636,62151,63217,64393,65707,66849,66849,66849,71214,72342
50,WY,56,0,0,0,0,0,0,0,0,...,38785,38906,39359,39774,40064,40310,40593,41358,41488,41662

## PD 4.3 (Activity 6) Transform state total cases to total cases by date

In [9]:
df_total_cases_by_state_by_date = df_total_cases_by_state.melt(id_vars=['State','stateFIPS'], 
                                                               var_name='Date', 
                                                               value_name='Total Cases')
df_total_cases_by_state_by_date

      State stateFIPS      Date  Total Cases
0        AK         2   1/22/20            0
1        AL         1   1/22/20            0
2        AR         5   1/22/20            0
3        AZ         4   1/22/20            0
4        CA         6   1/22/20            0
...     ...       ...       ...          ...
17029    VT        50  12/20/20         6443
17030    WA        53  12/20/20       222600
17031    WI        55  12/20/20       492724
17032    WV        54  12/20/20        72342
17033    WY        56  12/20/20        41662

[17034 rows x 4 columns]

## Bonus Activity - Pivot is the reverse of melt - you can revert back using pivot_table

In [10]:
df_pivot_table = pd.pivot_table(df_total_cases_by_state_by_date, 
                                values='Total Cases', 
                                columns='Date', 
                                index=['State','stateFIPS'])
df_pivot_table

,Date,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,9/28/20,9/29/20,9/3/20,9/30/20,9/4/20,9/5/20,9/6/20,9/7/20,9/8/20,9/9/20
State,stateFIPS,,,,,,,,,,,,,,,,,,,,,
AK,2,0,0,0,0,0,0,0,0,0,0,...,7592,7717,5465,7821,5585,5678,5764,5797,5831,5894
AL,1,0,0,0,0,0,0,0,0,0,0,...,152976,153550,129284,154699,130393,131803,132313,132972,133605,134416
AR,5,0,0,0,0,0,0,0,0,0,0,...,82049,82755,63080,83697,64175,64690,65377,65724,66019,66402
AZ,4,0,0,0,0,1,1,1,1,1,1,...,217507,218183,203953,218507,204680,205513,205765,205954,206044,206541
CA,6,0,0,0,0,2,3,3,4,4,4,...,813030,816128,725669,818915,731314,735452,737650,740050,743148,747809
CO,8,0,0,0,0,0,0,0,0,0,0,...,69485,70018,58282,70532,58652,58652,58984,59482,59671,59917
CT,9,0,0,0,0,0,0,0,0,0,0,...,57147,57329,53209,57550,53365,53365,53365,53365,53782,53871
DC,11,0,0,0,0,0,0,0,0,0,0,...,15264,15300,14135,15326,14186,14238,14279,14315,14362,14387
DE,10,0,0,0,0,0,0,0,0,0,0,...,20389,20531,17653,20613,17752,17892,18043,18249,18308,18308
FL,12,0,0,0,0,0,0,0,0,0,0,...,701295,704560,636983,706515,640165,643404,646350,648176,649979,652148
GA,13,0,0,0,0,0,0,0,0,0,0,...,315266,316288,277247,318014,279323,281506,283153,283762,285331,287275
HI,15,0,0,0,0,0,0,0,0,0,0,...,12203,12290,9202,12410,9473,9693,9854,9958,10024,10122
IA,19,0,0,0,0,0,0,0,0,0,0,...,86839,87626,66797,88553,67976,69004,69755,70326,70655,71134
ID,16,0,0,0,0,0,0,0,0,0,0,...,40923,40923,32926,42046,33195,33476,33476,33664,33980,34309
IL,17,0,0,1,1,1,1,1,1,1,2,...,289586,290958,240002,293231,245368,248169,249572,250951,252347,253682
IN,18,0,0,0,0,0,0,0,0,0,0,...,120785,121537,99167,122509,100205,101290,102133,102722,103111,103835
KS,20,0,0,0,0,0,0,0,0,0,0,...,59548,59615,44364,60662,45836,45836,45917,47268,47569,48042
KY,21,0,0,0,0,0,0,0,0,0,0,...,66932,67852,50872,68838,51675,52456,52766,53051,53314,53971
LA,22,0,0,0,0,0,0,0,0,0,0,...,165039,165039,150636,166013,151458,151458,152816,153129,153424,154928
MA,25,0,0,0,0,0,0,0,0,0,0,...,137478,137930,128888,138442,129172,129555,129921,130141,130310,130492
MD,24,0,0,0,0,0,0,0,0,0,0,...,123877,124311,110012,124725,110831,111607,112119,112883,113239,113575
ME,23,0,0,0,0,0,0,0,0,0,0,...,5299,5338,4617,5390,4633,4633,4633,4713,4736,4759
MI,26,0,0,0,0,0,0,0,0,0,0,...,135695,136814,115231,138004,116224,117147,117147,118399,118894,119851
MN,27,0,0,0,0,0,0,0,0,0,0,...,97637,98446,78123,99134,78963,79873,80578,81211,81585,81805
MO,29,0,0,0,0,0,0,0,0,0,0,...,123837,123837,88573,126107,90178,92148,93364,94289,95079,96435
MS,28,0,0,0,0,0,0,0,0,0,0,...,97047,97638,85115,98189,85934,86473,86884,87126,87372,87795
MT,30,0,0,0,0,0,0,0,0,0,0,...,12410,12723,7871,13070,8019,8163,8263,8315,8379,8467
NC,37,0,0,0,0,0,0,0,0,0,0,...,208209,209129,172201,210629,172201,175812,176893,177902,178623,179526
ND,38,0,0,0,0,0,0,0,0,0,0,...,20981,21399,12627,21846,12972,13330,13619,13782,13852,14109
NE,31,0,0,0,0,0,0,0,0,0,0,...,44275,44745,35309,45273,35519,35664,35739,35833,36326,36767
NH,33,0,0,0,0,0,0,0,0,0,0,...,8207,8233,7346,8266,7368,7424,7447,7476,7493,7517
NJ,34,0,0,0,0,0,0,0,0,0,0,...,204107,204560,192972,205274,193422,193746,194056,194390,194661,194988
NM,35,0,0,0,0,0,0,0,0,0,0,...,28984,29156,25809,29434,25899,26042,26100,26139,26177,26264
NV,32,0,0,0,0,0,0,0,0,0,0,...,79145,79546,69845,79927,70674,71061,71567,71914,72052,72200
NY,36,0,0,0,0,0,0,0,0,0,0,...,456529,457718,437176,458718,438040,438841,439570,440090,440647,441223
OH,39,0,0,0,0,0,0,0,0,0,0,...,151802,152907,127112,153988,128442,129781,130557,131330,131990,132965
OK,40,0,0,0,0,0,0,0,0,0,0,...,85194,86217,61025,87197,62034,63180,63605,64219,65047,65926
OR,41,0,0,0,0,0,0,0,0,0,0,...,32992,33290,27335,33507,27598,27854,28042,28187,28353,28468
PA,42,0,0,0,0,0,0,0,0,0,0,...,156822,157808,136771,158967,137662,138623,139314,139855,140354,141287
RI,44,0,0,0,0,0,0,0,0,0,0,...,23059,23059,21197,23548,21197,21197,21197,21197,21197,21802
SC,45,0,0,0,0,0,0,0,0,0,0,...,146429,147603,121696,147929,123324,124287,124945,125547,125881,126176
SD,46,0,0,0,0,0,0,0,0,0,0,...,21738,21997,14335,22389,14590,14885,15104,15291,15398,15570
TN,47,0,0,0,0,0,0,0,0,0,0,...,193729,194610,159501,196136,160470,162333,164099,165067,165715,166587
TX,48,0,0,0,0,0,0,0,0,0,0,...,749446,753931,633913,759388,639330,643543,646659,648517,650133,654557
UT,49,0,0,0,0,0,0,0,0,0,0,...,71458,72164,53337,73080,53837,53901,54628,55045,55374,55678
VA,51,0,0,0,0,0,0,0,0,0,0,...,146589,147507,123665,148257,124779,125725,126923,127568,128400,129283
VT,50,0,0,0,0,0,0,0,0,0,0,...,1745,1749,1637,1752,1642,1647,1648,1651,1654,1654
WA,53,1,1,1,1,1,1,1,1,1,1,...,86635,87041,75855,87523,76331,76833,77232,77541,77541,78007
WI,55,0,0,0,0,0,0,0,0,0,0,...,124217,126663,77856,129123,79351,80299,81191,81755,82474,83333
WV,54,0,0,0,0,0,0,0,0,0,0,...,15510,15687,10843,15848,11034,11286,11410,11572,11654,11802
WY,56,0,0,0,0,0,0,0,0,0,0,...,5751,5821,3934,5947,3984,4000,4031,4031,4102,4151

## Why Sort?

It is needed before any multi-row operation. As you can see below state records are not sorted by state currently

In [11]:
df_total_cases_by_state_by_date

      State stateFIPS      Date  Total Cases
0        AK         2   1/22/20            0
1        AL         1   1/22/20            0
2        AR         5   1/22/20            0
3        AZ         4   1/22/20            0
4        CA         6   1/22/20            0
...     ...       ...       ...          ...
17029    VT        50  12/20/20         6443
17030    WA        53  12/20/20       222600
17031    WI        55  12/20/20       492724
17032    WV        54  12/20/20        72342
17033    WY        56  12/20/20        41662

[17034 rows x 4 columns]

## PD 5.1 (Activity 1) Sort LA County Total Cases

In [12]:
df_total_cases_LA_by_date = df_total_cases_LA_by_date.astype({'Date': 'datetime64[ns]'})
df_sorted_LA_county_total_cases = df_total_cases_LA_by_date.sort_values(by=['Date'])
df_sorted_LA_county_total_cases

    State stateFIPS         County Name countyFIPS       Date  Total Cases
0      CA         6  Los Angeles County       6037 2020-01-22            0
1      CA         6  Los Angeles County       6037 2020-01-23            0
2      CA         6  Los Angeles County       6037 2020-01-24            0
3      CA         6  Los Angeles County       6037 2020-01-25            0
4      CA         6  Los Angeles County       6037 2020-01-26            1
..    ...       ...                 ...        ...        ...          ...
329    CA         6  Los Angeles County       6037 2020-12-16       566005
330    CA         6  Los Angeles County       6037 2020-12-17       580325
331    CA         6  Los Angeles County       6037 2020-12-18       596721
332    CA         6  Los Angeles County       6037 2020-12-19       610372
333    CA         6  Los Angeles County       6037 2020-12-20       623670

[334 rows x 6 columns]

## PD 5.2 (Activity 2) Sort County Total Cases

In [13]:
df_total_county_cases_by_date = df_total_county_cases_by_date.astype({'Date': 'datetime64[ns]'})
df_sorted_county_total_cases = df_total_county_cases_by_date.sort_values(by=['stateFIPS', 
                                                                             'countyFIPS', 
                                                                             'Date'])
df_sorted_county_total_cases

,State,stateFIPS,County Name,countyFIPS,Date,Total Cases
0,AL,1,Statewide Unallocated,0,2020-01-22,0
3195,AL,1,Statewide Unallocated,0,2020-01-23,0
6390,AL,1,Statewide Unallocated,0,2020-01-24,0
9585,AL,1,Statewide Unallocated,0,2020-01-25,0
12780,AL,1,Statewide Unallocated,0,2020-01-26,0
...,...,...,...,...,...,...
1051479,CT,9,Windham County,9015,2020-12-16,3921
1054674,CT,9,Windham County,9015,2020-12-17,3998
1057869,CT,9,Windham County,9015,2020-12-18,4153
1061064,CT,9,Windham County,9015,2020-12-19,4153
1064259,CT,9,Windham County,9015,2020-12-20,4153

## PD 5.3 (Activity 3) Sort State Total Cases

In [14]:
df_total_cases_by_state_by_date = df_total_cases_by_state_by_date.astype({'Date': 'datetime64[ns]'})
df_sorted_state_total_cases = df_total_cases_by_state_by_date.sort_values(by=['stateFIPS', 'Date'])
df_sorted_state_total_cases

      State stateFIPS       Date  Total Cases
1        AL         1 2020-01-22            0
52       AL         1 2020-01-23            0
103      AL         1 2020-01-24            0
154      AL         1 2020-01-25            0
205      AL         1 2020-01-26            0
...     ...       ...        ...          ...
16785    CT         9 2020-12-16       157781
16836    CT         9 2020-12-17       160102
16887    CT         9 2020-12-18       162782
16938    CT         9 2020-12-19       162782
16989    CT         9 2020-12-20       162782

[17034 rows x 4 columns]